<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/insertDB" method="post">
        <label for="location2">Location:</label>
        <input type="text" id="location2" name="location2">
        <p>what dates would you like the temp for? (between today and the next 14 days)</p>
        <label for="daysTo">To: (yyyy-mm-dd)</label>
        <input type="text" id="daysTo" name="daysTo">
        <input type="submit">
    </form>
</body>
</html>