<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Delete DB:
    <form method="post" action="/deleteDB">
        <label for="location3">Location: </label>
        <input type="text" id="location3" name="location3">
        <label for="date2">Date: (yyyy-mm-dd)</label>
        <input type="text" id="date2" name="date2">
        <button type="submit">Submit</button>
    </form>
</body>
</html>