<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>The Product Manager Accelerator Program is designed to support PM professionals through every stage of their careers. From students looking for an entry-level jobs to Directors looing to take on a leadership role, our program has helped over hundreds of students fulfill their career aspirations</h2>
</body>
</html>