<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/updateDB">
        <p>You can only update temperature!</p>
        <label for="location4">Location: </label>
        <input type="text" id="location4" name="location4">
        <label for="date3">Date: (yyyy-mm-dd)</label>
        <input type="text" id="date3" name="date3">
        <label for="temp3">Temp Update: </label>
        <input type="temp3" id="temp3" name="temp3">
        <button type="submit">Submit</button>
    </form>
</body>
</html>